<% include ./partials/header %>
<div class="ui stacked segment">
	<div class="ui divided items">
	<% posts.forEach((post) => { %>

	  <div class="item">
			<div class="image">
		  	<img src="<%= post.image %>" alt="很抱歉，圖片連結暫時失效。">
		  	</div>
		 	<div class="content">
	     		<a href="/posts/<%=post._id%>" class="header"><%= post.title%></a>
	      		<div class="meta">
	        		<span>Description</span>
	      		</div>
	      		<div class="description">
	      	  	<p><%= post.body %></p>
	      		</div>
	      		<div class="extra">
	      		  Additional Details
	     		 </div>
	    	</div>
	  </div>	
	  
	<% }); %>
	</div> 
<!-- end of items -->
</div>
<% if (nPage > 0) { %>
<div class="ui container" id="paging">
		<div class="ui pagination menu">

		  <!-- <a class="active item">
		    1
		  </a>
		  <div class="disabled item">
		    2
		  </div> -->
		<% if(curPage > 0) { %>
		<a href="/posts/p/<%= curPage - 1%>" class="item">上一頁</a>
		<% } %> 
		<% if(curPage < nPage) { %>
		<!-- if(curPage < nPage) -->
		<a href="/posts/p/<%= curPage + 1%>" class="item">下一頁</a>
		<% } %> 
		</div>
</div>
<% } %>


<% include ./partials/footer %>